---
/**
 * /[collection]/index.astro
 *
 * Renders the main page for a collection, displaying all items.
 */

// Layout imports
import CollectionLayout from "../../layouts/CollectionLayout.astro";

// Component imports
import ContentTemplate from "../../components/ContentTemplate.astro";
import ItemsTemplate from "../../components/ItemsTemplate.astro";
import CollectionCard from "../../components/CollectionsCard.astro";
import Section from "../../components/Section.astro";

// Utility imports
import {
  formatCollectionName,
  generateCollectionPaths,
  fetchCollectionItems,
} from "../../utils/collections/";
import CollectionsCard from "../../components/CollectionsCard.astro";

const { collection } = Astro.params;

// Export the getStaticPaths function
export async function getStaticPaths() {
  return await generateCollectionPaths();
}
---
<CollectionLayout
  title={`Our ${formatCollectionName(collection)}`}
  description={`Explore our ${formatCollectionName(collection)} and discover what we offer.`}
>
  <Section className="collection-header">
    <ContentTemplate collection={collection}>
      <ItemsTemplate
        collection={collection}
        ItemComponent={CollectionCard}
        queryName={`AllItems${formatCollectionName(collection)}`} 
        columns={3}
        gap="1.5rem"
      />
    </ContentTemplate>
  </Section>

  <Section className="aggregated-related">
    <ContentTemplate collection="projects" viewAllText="All Projects" viewAllHref="/projects">
      <ItemsTemplate
        collection="projects"
        ItemComponent={CollectionCard}
        queryName="RelatedProjects"
        currentCollection={collection}
        columns={3}
        gap="1.5rem"
      />
    </ContentTemplate>
  </Section>

  <Section className="aggregated-related">
    <ContentTemplate collection="testimonials" viewAllText="All Testimonials" viewAllHref="/testimonials">
      <ItemsTemplate
        collection="testimonials"
        ItemComponent={CollectionCard}
        queryName="RelatedTestimonials"
        currentCollection={collection}
        columns={3}
        gap="1.5rem"
      />
    </ContentTemplate>
  </Section>

    <!-- Related Services -->
    <Section class="related-services">
      <ContentTemplate collection="services">
        <ItemsTemplate
          collection="services"
          ItemComponent={CollectionsCard}
          queryName="RelatedServices"
          currentCollection={collection}
          columns={2}
        />
      </ContentTemplate>
    </Section>
</CollectionLayout>

<style>
  .collection-header {
    text-align: center;
    padding: 2rem 0;
  }

  .collections-list-section {
    padding: 2rem 0;
  }
</style>
