---
// [collection]/[slug].astro

// layout import
import CollectionLayout from '../../layouts/CollectionLayout.astro';

// components imports
import CollectionCard from '../../components/CollectionsCard.astro';
import Section from '../../components/Section.astro'; // Import the Section component

// utils imports
import { fetchCollectionItems, formatCollectionName, generateCollectionPaths } from '../../utils/collections.js';

const { collection } = Astro.params;

// Fetch items from the specified collection
let items;
let pageTitle;
let pageDescription;

try {
  items = await fetchCollectionItems(collection);
  const formattedCollectionName = formatCollectionName(collection);
  pageTitle = `Our ${formattedCollectionName}`;
  pageDescription = `Explore our ${formattedCollectionName} and discover what we offer.`;
} catch (error) {
  // Redirect to custom 404 page if collection is not found
  Astro.redirect('/404');
}

// Export the getStaticPaths function
export async function getStaticPaths() {
  return await generateCollectionPaths();
}
---
<CollectionLayout title={pageTitle} description={pageDescription}>
  <Section className="collection-header">
    <h1>{pageTitle}</h1>
    <p>{pageDescription}</p>
  </Section>
  
  <Section className="collections-list-section">
    <div class="collections-list">
      {items.map(item => (
        <CollectionCard
          key={item.slug}
          title={item.title}
          description={item.description}
          slug={item.slug}
          icon={item.icon}
          collection={collection}
          featuredImage={item.featuredImage}
        />
      ))}
    </div>
  </Section>
</CollectionLayout>

<style>
  .collection-header {
    text-align: center;
    padding: 2rem 0;
  }

  .collections-list-section {
    padding: 2rem 0;
  }

  .collections-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
</style>
