---
import CollectionLayout from "../../layouts/CollectionLayout.astro";
import ContentTemplate from "../../components/ContentTemplate.astro";
import ItemsTemplate from "../../components/ItemsTemplate.astro";
import Section from "../../components/Section.astro";
import CollectionsCard from "../../components/CollectionsCard.astro";

import {
  formatCollectionName,
  generateCollectionPaths,
} from "../../utils/collections/";

const { collection } = Astro.params;

export async function getStaticPaths() {
  return await generateCollectionPaths();
}
---
<CollectionLayout
  title={`Our ${formatCollectionName(collection)}`}
  description={`Explore our ${formatCollectionName(collection)} and discover what we offer.`}
>
  <Section className="text-center pt-8 pb-8">
    <ContentTemplate collection={collection}>
      <ItemsTemplate
        collection={collection}
        ItemComponent={CollectionsCard}
        queryName={`AllItems${formatCollectionName(collection)}`} 
        columns={3}
        gap="1.5rem"
      />
    </ContentTemplate>
  </Section>

  <Section>
    <ContentTemplate collection="projects" viewAllText="All Projects" viewAllHref="/projects">
      <ItemsTemplate
        collection="projects"
        ItemComponent={CollectionsCard}
        queryName="RelatedProjects"
        currentCollection={collection}
        columns={3}
        gap="1.5rem"
      />
    </ContentTemplate>
  </Section>

  <Section>
    <ContentTemplate collection="testimonials" viewAllText="All Testimonials" viewAllHref="/testimonials">
      <ItemsTemplate
        collection="testimonials"
        ItemComponent={CollectionsCard}
        queryName="RelatedTestimonials"
        currentCollection={collection}
        columns={3}
        gap="1.5rem"
      />
    </ContentTemplate>
  </Section>

  <Section>
    <ContentTemplate collection="services">
      <ItemsTemplate
        collection="services"
        ItemComponent={CollectionsCard}
        queryName="RelatedServices"
        currentCollection={collection}
        columns={2}
      />
    </ContentTemplate>
  </Section>
</CollectionLayout>
