---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import ContentTemplate from '../components/ContentTemplate.astro';
import ItemsTemplate from '../components/ItemsTemplate.astro';
import ServiceCard from '../components/ServiceCard.astro';
import CollectionCard from '../components/CollectionsCard.astro';
import Slider from '~/components/Slider/Slider.astro';
---
<Layout title="Home Page" description="Welcome to our Astro-powered website.">
  
  <Section>
    <h1>Welcome to Our Website</h1>
    <p>Your go-to platform for services and projects.</p>
  </Section>
  
  <!-- Featured Services Section -->
  <Section>
    <ContentTemplate collection="services">
      <ItemsTemplate
        collection="services"
        ItemComponent={ServiceCard}
        queryName={"FeaturedServices"}   
        columns={3}
        gap="1rem"
      />
    </ContentTemplate>
  </Section>
  
  <!-- Featured Projects Section -->
  <Section>
    <ContentTemplate collection="projects">
      <ItemsTemplate
        collection="projects"
        ItemComponent={CollectionCard}
        queryName={"FeaturedProjects"} 
        columns={3}
        gap="1.5rem"
      />
    </ContentTemplate>
  </Section>

    <!-- Featured Testimonials Section -->
  <Section>
    <ContentTemplate collection="testimonials">
      <Slider
      queryName={"FeaturedTestimonials"}
      autoplay={true}
      autoplaySpeed={500}
      infinite={true}
      slidesShown={1}
      slidesScrolled={1}
      sideArrows={true}
      showDots={true}
    />
    </ContentTemplate>
  </Section>


</Layout>
