--- 
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import ContentTemplate from '../components/ContentTemplate.astro';
import ItemsTemplate from '../components/ItemsTemplate.astro';
import CollectionsCard from '../components/CollectionsCard.astro';
import Slider from '~/components/Slider/Slider.astro';

import { getHomepageSections } from '../utils/sections.js';
---

<Layout title="Home Page" description="Welcome to our Astro-powered website.">
  <Section>
    <h1>Welcome to Our Website</h1>
    <p>Your go-to platform for services and projects.</p>
  </Section>
  
  <!-- Dynamically Render Homepage Sections -->
  {getHomepageSections().map((sec, index) => (
    <Section key={index}>
      <ContentTemplate collection={sec.collection}>
          <ItemsTemplate
            collection={sec.collection}
            queryName={sec.queryName}
            ItemComponent={CollectionsCard}
            gap="1.5rem"
          />
      </ContentTemplate>
    </Section>
  ))}
</Layout>
