---
import { executeQuery } from '../../../utils/queries/executeQuery.js';
import BarMenu from './BarMenu/BarMenu.astro';

/* Our newly combined hamburger component */
import Hamburger from './HamburgerMenu/Hamburger.astro';

const {
  queryName,
  className = '',
  hamburgerOnly = true,
  hamburgerTransform = true, // if false, lines won't rotate into an X
} = Astro.props;

const query = await executeQuery(queryName);
---

<nav class={`hierarchical-menu ${className}`} aria-label="Main Navigation">
  {/* Show a “normal” bar menu on desktop if not hamburgerOnly */}
  {!hamburgerOnly && (
    <div class="bar-menu hidden md:block">
      <BarMenu className="bar-menu" queryName={query} />
    </div>
  )}

  {/* On mobile or if hamburgerOnly, show the hamburger */}
  <div class={hamburgerOnly ? "block" : "block md:hidden"}>
    <Hamburger
      transform={hamburgerTransform}
      queryName={query}
      Width="60%"
      showCloseButton={true}
    />
  </div>
</nav>
