---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import siteConfig from '../content/site.config.js';
import "../styles/global.css";

const { title, description } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={siteConfig.favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    
    <!-- OG & Twitter metas -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={siteConfig.logo} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={siteConfig.logo} />
  </head>
  <body class="m-0 p-0 w-full h-full font-sans bg-gray-f9 text-gray-333">
    <Header siteTitle={siteConfig.title} logo={siteConfig.logo} />
    <main class="px-8 py-8 min-h-[80vh]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
